{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_boutique_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>Inscription </h3>
        </div>

        <div class="card-body">

            {{ include('usager/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
